  
  
  body{
    margin: 0px;
  }  
  .main{
    width: 1280px;
  }
  
  .c{
    display: flex;
    justify-content: center;
    justify-items: center;
    
   }
   .e{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .s{
    display: flex;
    justify-items: center;
    align-items: center;
   }
   .sc{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
   }
   .f{
   align-items: center;
   }
   .flex{display: flex;}
   .flex1{
    flex: 1;
   }
   .row-s{
    display: flex;
    justify-content: flex-start;
   }
   .row-e{
    display: flex;
    justify-content: flex-end;
   }
   .row-c{
    display: flex;
    justify-content: center;
   }
   .row-sp{
    display: flex;
    justify-content: space-around;
   }
   .row-b{
    display: flex;
    justify-content: space-between;
   }
   .col-s{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   }
   .col-e{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   }
   .col-c{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .col-sp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
   .col-b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
   .col-12{
    width: 100%;
   }
   .col-11{
    width: 91.3%;
   }
   .col-11b{
    width: 90.3%;
   }
   .col-115{
    width: 95.3%;
   }
   .col-10{
    width: 83.3%;
   }
   .col-105{
    width: 86.3%;
   }
   .col-9{
    width: 74.7%;
   }
   .col-95{
    width: 80.9%;
   }
   .col-8{
    width: 66.4%;
   }
   .col-7{
    width: 58.1%;
   }
   .col-65{
    width: 54.1%;
   }
   .col-6{
    width: 49.8%;
   }
   .col-55{
    width: 43.5%;
   }
   .col-5{
    width: 41.5%;
   }
   .col-4{
    width: 33.2%;
   }
   .col-41{
    width: 33.5%;
   }
   .col-3{
    width: 24.9%;
   }
   .col-25{
    width: 20.6%;
   }
   .col-2{
    width: 16.6%;
   }
   .col-29{
    width: 23.1%;
   }
   .col-21{
    width: 16.79%;
   }
   
  
   .col-1{
    width: 8.3%;
   }
   .ml{
    margin-left: 8.3%;
   }
   .mr{
    margin-right: 8.3%;
   }
   .mt{
    margin-top: 8.3%;
   }
   .mb{
    margin-bottom: 8.3%;
   }
   .pl{
    padding-left: 8.3%;
   }
   .pr{
    padding-right: 8.3%;
   }
   .pt{
    padding-top: 8.3%;
   }
   .pb{
    padding-bottom: 8.3%;
   }

 @media screen and (max-width: 1280px) {
     .main{
      width: 1000px;
     }
 }  
 @media screen and (max-width: 1000px) {
     .main{
      width: 800px;
     }
 } 
//  @media screen and (max-width: 1080px) {
//      .main{
//       width: 880px;
//      }
//  }  
//  @media screen and (max-width: 800px) {
//      .main{
//       width: 600px;
//      }
//  }   
//  @media screen and (max-width: 768px) {
//      .main{
//       width: 568px;
//      }
//  } 